.h2{
    position:relative;top:15px;margin-left:600px;
    color:aliceblue;
}
.c{
    background-color: lightcoral;
    height:70px;
}
.img1{
   margin-top: 10px;
   width:200px;
}
.img5{
   margin-top: 10px;
    float: inline-end;
}
.img2{
 margin-top: 5px;
}
.img6{
    float: inline-end;
    
}
.img3{
margin-bottom: 20px;
}
.img7{

    float:inline-end;
}
.img4{
   
}
.img8{
    margin-top: 20px;
    margin-left: 500px;
   float: inline-end;
   position: relative;

}
.imgm{
   display: block;
   margin: auto;
   border-radius: 20px;
}

